@font-face {
    font-family: 'MyCustomFont';
    src: url('Chalkduster.ttf') format('truetype');
}


body{
    background-color: #363939;
    background-image: url("background.png");
    /* background-size: cover; */
    background-repeat: no-repeat;
    font-family: 'MyCustomFont';
}

.content{
    padding-left : 3.5%;
    padding-right : 3.5%;
    display: flex;
    padding-top: 2.5%;
    justify-content: space-around;
}

.bean-logo{
    width: 60%;
}

.swiggy-logo{
    width: 50%;
    cursor: pointer;
    margin-top: -5%;
    /* margin-left : 5.5%; */
}

.left-content{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap : 2rem;
    width : 45%;
}
.right-content {
    text-align: center;
}
h1{
    color : #85AD2C;
    font-size: 3.5rem;
    margin: 0;
}

.message-content{
    color : #fff;
    font-size: 1.8rem;
    margin: 0;
}

.coming-soon{
    font-size: 1.5rem;
    color : #fff;
}

.contact-us{
    font-size: 1.2rem;
    color : #fff;
    margin: 0;
}

.number{
    font-size: 1.3rem;
    color : #85AD2C;
    margin: 0;
}


.swiggy-mini{
    /* text-align: center; */
    margin-top: 30%;
}

.swiggy-mini p{
    font-size: 2rem;
    /* margin-left : -4%; */
    color : #fff;
}

.contact{
    width : 60%;
}

.soon{
    color : #85AD2C;
}

.basket-image {
    width: 100%;
}

@media only screen and (max-width : 768px){
    body{
        background-image: url("background.png");
        /* background-size: cover; */
        /* background-position: 75% 75%; */
    }
    .content{
        flex-direction: column;
    }
    .left-content{
        padding-left: 0;
        width : 100%;
        text-align: center;
    }
    .contact{
        width : 100%;
    }

    .logo{
        text-align: left;
    }
}